@import url("https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Raleway:400,600&display=swap");

html {
  background: var(--light);
}

body {
  margin: 0;
}

* {
  color: var(--dark);
}

p {
  font-family: "Ibarra Real Nova", serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}
