.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.flex-4 {
  flex: 4;
}

.flex-grow-2 {
  flex-grow: 2;
}

.text-decoration-none {
  text-decoration: none;
}

.title {
  padding-left: 25px;
}

.title-wrapper {
  border-bottom: 2px solid #2a2a2a;
  margin-bottom: 18px;
}