.link {
  text-decoration: none;
  color: var(--dark);
  font-family: "Ibarra Real Nova", serif;
  transition: color 0.2s ease 0s;
}

.link:hover {
  color: var(--accent-dark);
}

.noHover:hover {
  color: var(--dark) !important;
}

.underline {
  text-decoration: underline;
}
